body {
  overflow-x: hidden;
}

#home .people-illustration {
  max-width: 75%;
}

#home .container .text h1,
#home .container .text p {
  opacity: 0;
  -webkit-transform: translate(-30px, 0);
          transform: translate(-30px, 0);
  -webkit-transition: all .9s ease-in-out;
  transition: all .9s ease-in-out;
}

#home .container .text a {
  opacity: 0;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

#home .container .image img {
  opacity: 0;
  -webkit-transform: translate(20px, 0);
          transform: translate(20px, 0);
  -webkit-transition: all 1s;
  transition: all 1s;
}

#content {
  margin-top: 2em;
}

#content .talent-bio a {
  text-decoration: none;
  color: black;
  -webkit-transition: 1s;
  transition: 1s;
  margin: auto;
  position: relative;
}

#content .talent-bio a:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

#content .talent-bio a::before {
  content: "";
  width: 0;
  position: absolute;
  background-color: #0077b5;
  bottom: -3px;
  left: 0;
  height: 2px;
  -webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
}

#content .talent-bio a:hover::before {
  width: 100%;
}

#get-your-ticket {
  padding: 1em 0;
  margin-bottom: 20em;
  height: 40vw;
}

#get-your-ticket .height {
  height: 100%;
}

#get-your-ticket .social-media a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

#get-your-ticket .social-media div {
  -webkit-transition: 1s;
  transition: 1s;
  margin: auto;
  position: relative;
}

#get-your-ticket .social-media div:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

#get-your-ticket .social-media div::before {
  content: "";
  width: 0;
  position: absolute;
  background-color: #0077b5;
  bottom: 0;
  left: 0;
  height: 2px;
  -webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
}

#get-your-ticket .social-media div:hover::before {
  width: 100%;
}

#our-class .container .thumb {
  opacity: 0;
  -webkit-transform: translate(0, -40px);
          transform: translate(0, -40px);
  -webkit-transition: all .5s;
  transition: all .5s;
}

#our-class .container .thumb.show {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.ticket {
  display: none;
}

.ticket .close-btn {
  position: fixed;
  top: 2.5em;
  right: 1em;
  font-size: 2em;
  z-index: 9999;
  cursor: pointer;
}

.lightbox {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.8);
          box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em;
  -webkit-transition: background-color 1s .8s;
  transition: background-color 1s .8s;
}

.svg {
  position: relative;
}

.svg .collaps {
  position: absolute;
}

.nav-transform {
  -webkit-transition: all .8s;
  transition: all .8s;
}

.strikethrough {
  text-decoration: line-through;
}

@media screen and (max-width: 425px) {
  body {
    overflow-x: hidden;
  }
  #home .image {
    display: none;
  }
  #content .m-ord {
    -webkit-box-ordinal-group: 101;
        -ms-flex-order: 100;
            order: 100;
  }
  #get-your-ticket .container {
    margin-top: 4em;
  }
  .lightbox {
    padding: 1em;
  }
}

@media screen and (max-width: 576px) {
  body {
    overflow-x: hidden;
  }
  #content {
    margin-top: 3em;
  }
  #content .m-ord {
    margin-top: 1em;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  #content .m-ord {
    -webkit-box-ordinal-group: 101;
        -ms-flex-order: 100;
            order: 100;
  }
  .ticket .close-btn {
    top: 4.5em;
    right: .5em;
  }
}
/*# sourceMappingURL=main.css.map */