.people-illustration {
    max-width: 75%;
}

#content {
    margin-top: 2em;


    // .row {
    //     margin-top: 1em;
    // }

    // .talent-bio {
    //     padding-top: 1.4em;
    // }
}

#get-your-ticket {
    padding: 4em 0;
    margin-bottom: 20em;

    .social-media a {
        font-size: 1.5em;
        text-decoration: none;
        color: black;
    }

    .social-media div {
        transition: 1s;
    }

    .social-media div:hover {
        transform: translateY(10px);
    }
    
}

@media screen and (max-width: 425px) {
    #home .image {
        display: none;
    }

    #content .m-ord {
        order: 1;
    }
}
    

