#home {

    .people-illustration {
        max-width: 75%;
    }

}


#content {
    margin-top: 2em;

}

#get-your-ticket {
    padding: 3em 0;
    margin-bottom: 20em;
    height: 40vw;
    
    .container {
        height: 100%;
    }

    .social-media {

        a {
            font-size: 2rem;
            text-decoration: none;
            color: black;
        }

        div {
            transition: 1s;
            margin: auto;
            position: relative;

            &:hover {
                transform: translateY(10px);
            }

            &::before {
                content: "";
                width: 0;
                position: absolute;
                background-color: #0077b5;
                bottom: 0;
                left: 0;
                height: 2px;
                transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
            }

            &:hover::before {
                width: 100%;
            }

        }
    }
}

@media screen and (max-width: 425px) {

    #home .image {
        display: none;
    }

    #content .m-ord {
        order: 100;
    }

    #get-your-ticket {
        .container {
            margin-top: 4em;
        }
    }

}

@media screen and (max-width: 768px) {
    #content .m-ord {
        order: 100;
    }
}