body {
    overflow-x: hidden;
}

#home {

    .people-illustration {
        max-width: 75%;
    }

}


#content {
    margin-top: 2em;

    .talent-bio {

        a {
            text-decoration: none;
            color: black;
            transition: 1s;
            margin: auto;
            position: relative;

            &:hover {
                transform: translateY(10px);
            }

            &::before {
                content: "";
                width: 0;
                position: absolute;
                background-color: #0077b5;
                bottom: -3px;
                left: 0;
                height: 2px;
                transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
            }

            &:hover::before {
                width: 100%;
            }

        }

    }
}

#get-your-ticket {
    padding: 1em 0;
    margin-bottom: 20em;
    height: 40vw;

    .container {
        height: 100%;
    }

    .social-media {

        a {
            font-size: 2rem;
            text-decoration: none;
            color: black;
        }

        div {
            transition: 1s;
            margin: auto;
            position: relative;

            &:hover {
                transform: translateY(10px);
            }

            &::before {
                content: "";
                width: 0;
                position: absolute;
                background-color: #0077b5;
                bottom: 0;
                left: 0;
                height: 2px;
                transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
            }

            &:hover::before {
                width: 100%;
            }

        }
    }
}

#our-class {

    .container {

        .thumb {
            opacity: 0;
            transform: translate(0, -40px);
            transition: all .5s;

            &.show {
                opacity: 1;
                transform: translate(0, 0);
            }
        }
    }

}

.nav-transform {
    transition: all .8s;
}

.strikethrough {
    text-decoration: line-through;
}

// tambahin margin top pas layar udah kecil

@media screen and (max-width: 425px) {

    body {
        overflow-x: hidden;
    }

    #home .image {
        display: none;
    }

    #content .m-ord {
        order: 100;
    }

    #get-your-ticket {
        .container {
            margin-top: 4em;
        }
    }

}

@media screen and (max-width: 576px) {

    body {
        overflow-x: hidden;
    }

    #content {

        .m-ord {
            margin-top: 1em;
        }


    }
}

@media screen and (max-width: 768px) {

    body {
        overflow-x: hidden;
    }

    #content .m-ord {
        order: 100;
    }
}